#解决Warning:(16, 1) java: Generating equals/hashCode implementation but without a call to superclass, even though this class does not extend java.lang.Object. If this is intentional, add '@EqualsAndHashCode(callSuper=false)' to your type.
config.stopBubbling=true
lombok.equalsAndHashCode.callSuper=call